.mainGeneral{
    background-image: radial-gradient(circle at 50% -20.71%, #ffffff 0, #fbffff 16.67%, #f1fbf9 33.33%, #e3e3e3 50%, #d5cbce 66.67%, #c9b9c0 83.33%, #bfacb6 100%);
}

.mainGeneral__imagenPrincipal{
    padding: 0;
}

.navbar{
    box-shadow: -1px 10px 5px -2px rgba(0,0,0,0.25);
    -webkit-box-shadow: -1px 10px 5px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px 10px 5px -2px rgba(0,0,0,0.25);
}

.centrarCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.card{
    margin: 10px;
}

.card-body__titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

.card-title{
    margin-bottom: 15px;
}

.card-body__titulos--tituloUno{
    text-align: center;
}

.card-body__titulos--tituloDos{
    color: rgb(214, 151, 68);
}

.botonItem{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

@media (min-width: 992px) {
    .navbar{
        display: grid;
        place-content: center;
    }
}




