*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mainGeneral__imagenPrincipal{
    padding: 0;
}

.light{
	background-color: white;
}

.dark{
	background-color: #28242c;
}

.dark a{
    color: white;
}

.dark a:hover{
	color: white;
}

.dark i{
	color: rgb(204, 204, 204);
}

.dark i:hover{
	color: white;
}

.navbar{
    box-shadow: -1px 10px 5px -2px rgba(0,0,0,0.25);
    -webkit-box-shadow: -1px 10px 5px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px 10px 5px -2px rgba(0,0,0,0.25);
}

.navbar-toggler{
	border: none;
}

.main__general{
    background-image: linear-gradient(40deg, #ececec 0, #ececec 6.25%, #ececec 12.5%, #ececec 18.75%, #ececec 25%, #ececec 31.25%, #ececec 37.5%, #ececec 43.75%, #ececec 50%, #ececec 56.25%, #ececec 62.5%, #ececec 68.75%, #ececec 75%, #ececec 81.25%, #ececec 87.5%, #ececec 93.75%, #ececec 100%);
    display: flex;
    justify-content: space-between;
}

.cards{
    display: grid;
    place-items: center;
    padding: 50px 0px;
}

.cardsContenedor{
    padding-right: 0;
}

.btn-outline-success{
    border: solid 1px rgb(162, 162, 162);
    color: black;
}

.nav-item:first-child,
.nav-item:nth-child(2),
.nav-item:nth-child(3),
.nav-item:nth-child(4){
    display: flex;
    align-items: center;
}

.btn-link{
    text-decoration: none;
    color: black;
    padding: 0;
}

.contadorCarrito__light{
    color: black;
}

.contadorCarrito__dark{
    color: white;
}

.cardCarrito__imagen{
    display: grid;
    place-content: center;
}

.card-text--marca{
    font-weight: bold;
}

.boton-eliminar{
    border: none;
    background: none;
}

@media (min-width: 992px) {
    .navbar{
        display: grid;
        place-content: center;
    }
}